extends ./layouts/main
block content
  div(class="container login-container")
    h1.title Sign In
    ul
      each val in messages
        li.error-msg= val

    form.login-form(method="POST")
      label(for="username") Username
      input(type="text" name="username")

      label(for="password") Password
      input(type="password" name="password")

      input.login-btn(type="submit" value="Log In")
