extends ./layouts/main
block content
  h1 Sign In
  ul
    each val in messages
      li= val

  form(method="POST")
    label(for="username") Username
    input(type="text" name="username")

    label(for="password") Password
    input(type="password" name="password")

    input(type="submit")
