html, body {
  height: 100%;
  width: 100%;
  background-color: #222930;
  color: #E9E9E9;
  font-size: 16px;
}

p{
  padding-top: 10px;
}

.container {
  border: 1px solid #4EB1BA;
  border-radius: 5px;
  background-color: #221430;
}

.navbar {
  border: 1px solid #4EB1BA;
  background-color: #221430;
}

.logo {
  text-align: center;
  font-size: 30px;
  min-height: 50px;
  line-height: 50px;
  border-right: 1px solid #4EB1BA;
}

.navbutton {
  color: #E9E9E9;
  text-align: center;
  min-height: 50px;
  line-height: 50px;
  border-right: 1px solid #4EB1BA;
}

/*#222930
#4EB1BA
#E9E9E9*/
